<div class="ml-5 row">
  <div class="col-12 col-sm-12 col-md-12 col-lg-8 col-xs-8 mt-3">
    <a class="btn btn-info " href="./add">Thêm</a>
  </div>
</div>
  <div class="col-10 col-sm-10 col-md-10 col-lg-8 col-xs-8 mt-3">
    <table class="table border">
      <tr scope="row" class="bg-warning">
        <th scope="col">ID</th>
        <th scope="col">Tên</th>
        <th scope="col">Số lượng</th>
        <th scope="col">Trạng thái</th>
        <th scope="col" >Tùy chọn</th>
      </tr>
      <%data.forEach((datums)=>{%>
      <tr>
        <td scope="row"><%-datums._id%></td>
        <td><%-datums.name%></td>
        <td><%-datums.ordering%></td>
        <td class="text-center "><%-datums.active?'Kích hoạt':'Ẩn'%></td>
        <td>
          <a href="./list/edit/<%-datums._id%>" class="btn btn-success mr-1" ref="<%-datums._id%>">Sửa</a>
          <a href="./list/delete/<%-datums._id%>" class="btn btn-danger">Xóa</a>
        </td>
      </tr>
      <%})%>
    </table>
  </div>